div{
    text-align: center;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
}

span{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    color: rgb(133, 131, 131);
}