$color-border:#18789E;
$color-dark-border:rgb(13, 39, 117);
$color-bgn:#BCECFF;
$font:Arial, Helvetica, sans-serif;
$color-bttn:#1F9FD1;
$color-bttn-text:rgb(195, 227, 255);
$color-hover-bttn:#1A84AD;
$color-bg-container:#66B8D9;
$color-td:#6c94ea