<div>
    <h1>Información de Contacto</h1>
    <table>
        <tr>
            <th class="divider">Nombre</th>
            <th>Jazmin Nahil Méndez Santana</th>
        </tr>
        <tr>
            <th class="divider">Correo</th>
            <th>jazmin.mendez@iteso.mx</th>
        </tr>
        <tr>
            <th class="divider">Correo Alternativo</th>
            <th>jaz.nah03@gmail.com</th>
        </tr>
        <tr>
            <th class="divider">Teléfono</th>
            <th>33 1604 0322</th>
        </tr>
    </table>
</div>