<div class="container">
    <div class="row">
      <div class="col">
        <h1>Trivia Game</h1>
        <span>Python</span>
      </div>
      <div class="col">
        <h1>Neuronal Networks</h1>
        <span>MathLab in a joint project with NXP</span>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h1>Classification Algorithms API</h1>
        <span>Java</span>
      </div>
      <div class="col">
        <h1>Simulation of volume of a tumor</h1>
        <span>Mathlab</span>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h1>Videogame based in pokemon battles</h1>
        <span>C</span>
      </div>
      <div class="col">
        <h1>Set Calculator</h1>
        <span>C</span>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1>Elevator State Simulator</h1>
            <span>C</span>
        </div>
        <div class="col">
            <h1>In Process...</h1>
            <span>Trabajando constantemente en nuevos proyectos</span>
          </div>
    </div>
</div>
