.container {
    width: 100%;
    display: grids;
    grid-template-columns: repeat(3, 4fr);
}
  
.row {
    display: flex;
}
  
.col {
    margin: 6px;
    width: 50%;
    height: 110px;
    background-color: #fff;
    border: 1px solid #b9b8b8;
    border-radius: 5px;
    box-sizing: border-box;
}

div{
    text-align: center;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}

span{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    color: rgb(133, 131, 131);
}