<section  id="section_contacto" class="contacto container">
    <div class="text">
        <h1>Contacto</h1>
    </div>
    <div class="contact_table">
        <table align="center">
            <tr>
                <td><span class="text">Correo</span><br><address><a href="mailto:jazmin.mendez@iteso.mx">jazmin.mendez@iteso.mx</a></address></td>
                <td><span class="text">Teléfono</span><br><a href="tel:3316040322">33 1604 0322</a></td>
                <td><span class="text">Correo Alternativo</span><br><address><a href="mailto:jaz.nah03@gmai.com">jaz.nah03@gmai.com</a>.<br></address></td>
            </tr>
        </table>
    </div>
</section>