<section id="section_family" class="family container">
    <div class="text">
        <h1>Mi familia</h1>
        <span>Tengo dos hermanos menores, y dos mascotas</span>
    </div>
    <div class="me_gallery">
        <img src="/src/images/f1.jpeg" alt="f1">
        <img src="/src/images/f2.jpeg" alt="f2"> 
        <img src="/src/images/f3.jpeg" alt="f3"> 
        <img src="/src/images/f4.jpeg" alt="f4">  
        <img src="/src/images/f5.jpeg" alt="f5"> 
        <img src="/src/images/f6.jpeg" alt="f6">  
    </div>
</section>