 <section id="section_hobbies" class="hobbies container">
    <div class="text">
        <h1>Hobbies</h1>
        <span>Me encanta ver peliculas y series, escuchar música, pasar tiempo con mis amigos y ultimamente me ha gustado mucho leer.</span>
    </div>
    <div class="me_gallery">
        <img src="/src/images/ho1.jpeg" alt="ho1">
        <img src="/src/images/ho5.jpeg" alt="ho5"> 
        <img src="/src/images/ho4.jpeg" alt="ho42"> 
        <img src="/src/images/ho6.jpeg" alt="ho6">  
    </div>
</section>