<section id="section_sobre_mi" class="sobre_mi container">
    <div class="text">
        <h1>Sobre mi</h1>
        <span>Mi nombre es Jazmin Mendez, estoy cursando mi sexto semestre de ingeniería en sistemas computacionales en el ITESO. Tengo 19 años, soy de Guadalajara y mi color favorito es el azul.</span>
    </div>
    <div class="me_gallery">
        <img src="/src/images/me1.jpeg" alt="Me1">
        <img src="/src/images/me2.jpeg" alt="Me2"> 
    </div>
</section>