<div>
    <h1>Sobre Mí</h1>
    <hr class="solid">
    <span>Mi nombre es Jazmin Méndez, actualmente soy estudiante de ingeniería en sistemas computacionales en el ITESO, cursando el 6to semestre.
    Estoy interesada en aprender de todas las oportunidades que se me brindan, me encanta el proceso de programar y el enfrentarme a nuevos retos constantemente.
    Me gusta pensar de cada reto como una nueva oportunidad de aprendizaje. A lo largo de mis estudios he realizado proyectos de mi interés y colaborado con empresas de tecnología.
    Tengo una gran pasión por la tecnología y el futuro de la industría.</span>
    <h1>Información Personal</h1>
    <hr class="solid"><br>
    <table>
        <tr>
            <th class="divider">Nombre</th>
            <th>Jazmin Nahil Méndez Santana</th>
        </tr>
        <tr>
            <th class="divider">Correo</th>
            <th>jaz.nah03@gmail.com</th>

        </tr>
        <tr>
            <th class="divider">Teléfono</th>
            <th>33 1604 0322</th>
        </tr>
    </table>
</div>
