img{
    width: 15%; 
    height: 155px; 
    object-fit: cover;
    object-position: 50% 70%; 
    float: left;
}

div{
    float: left;
    margin-left: 20px;
    width: 75%;
    text-align: center;
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
}

span{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    color: rgb(133, 131, 131);
}