<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarea 3</title>
     <link rel="stylesheet" href="/assets/css/estilos.css">
</head>
<body>
    <header>
        <div class="button-group">
            <a href="/"><button>Sobre mi</button></a>
            <a href="/hobbies/?token=123"><button>Hobbies</button></a>
            <a href="/family/?token=123"><button>Mi familia</button></a>
            <a href="/contact/?token=123"><button>Contacto</button></a>
        </div>
    </header>
    <main>
       {{{body}}}
    </main>
</body>
</html>